@use "./variable" as *;

body {
    background-color: $color-body;
    color: $color-text;
    margin: 0;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: flex;
}

.navigations {
    width: 240px;
    background-color: $color-nav;
    padding-top: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 18px;
        text-align: center;
        transition: 0.3s;
    }

    .just-li {
        a {
            text-decoration: none;
            color: $color-text;
            font-size: 20px;
            font-weight: 500;
            display: block;
            border-radius: 15px;
            padding: 12px;
            transition: 0.2s;

            &:hover {
                background-color: $a-hover;
                color: $color-text;
            }
        }
    }

    .logo {
        img {
            width: 10px;
            margin-bottom: 25px;
        }
    }
}

// ==========> DRIVERS < ==========

.container-drivers {
    flex: 1;
    padding: 30px;
    width: 100%;
    table-layout: fixed;

    h1 {
        color: $color-h1;
        font-size: 50px;
        margin-bottom: 30px;
        text-align: left;
    }

}

.table-drivers {
    background-color: $color-bg-table;
    border-radius: 10px;
    padding: 25px;
    font-size: 22px;
    border: 0.1px solid grey;
    box-shadow: 1px 3px 3px 3px rgba(138, 126, 126, 0.55);



    .img-country {
        width: 100px;
        height: 50px;
    }
}


//        ========= > DRIVER - DETAILS  < ================

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $color-body;
    min-height: 100vh;
    color: $color-text;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    // text-decoration: underline;




    //    ===========>  LEVI DEO SA PODACIMA VOZACA <===============

    .driver-details {
        display: flex;


        .img-driver {
            width: 250px;
            height: 400px;
        }


        div {
            display: flex;
            align-items: center;
            gap: 30px;
            background: $color-bg-table;
            border-radius: 20px;
            padding: 5px;
            margin: 0 10px;
            text-align: center;
            width: 100%;
        }

        p {
            margin: 10px 0px;
            font-size: 18px;

        }

        a {
            margin-top: 15px;
            padding: 10px 20px;
            background: $color-bg-table;
            color: $color-text;
            text-decoration: none;
            transition: 0.2s;

            &:hover {
                background: $color-nav;

            }
        }

        .img-drivers {
            width: 250px;
            height: 350px;
            border-radius: 20px;
            margin-bottom: 15px;
        }


        .information-drivers {
            width: 70%;
            display: block;

            h3 {
                font-size: 50px;
            }


        }

        //  ============> TABELA SA VOZACIMA <===========
        .right-details {
            width: 70px;
            background: $color-bg-table;
            border: 1px solid $line-border;
            border-radius: 20px;
            padding: 25px;

            .card-table {
                background: $color-bg-table;

                .img-country {
                    width: 50px;
                    height: 100px;
                }

                table {
                    column-span: 6;

                }

                h3 {
                    margin-bottom: 20px;
                    font-size: 28px;
                }
            }
        }

    }
}

// ===========> DIZAJN ZA SVE TABELE < =========
table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 15px;
    table-layout: fixed;
    column-span: 4;
    padding: 10px;

    thead {
        background: #131d33;

        tr {
            border-bottom: 1px solid#1b2640;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                background: #151f35;
            }


        }

        th {
            padding: 15px;
            text-align: center;
            font-weight: 600;
            color: $color-text;
            font-size: 25px;
        }
    }


    td {
        padding: 15px;
        font-size: 20px;
        text-align: center;
    }
}

// ===========> HOME PAGE < ==========
.home-image {

    text-align: center;
    height: 100vh;
    width: 100vw;
    color: $color-h1;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/img/2026_Explainer_FIA_Front_3_4_1920x1080.avif");

}

// ==========> RACES <============

.container-races {
    display: block;
    background-color: $color-bg-table;
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
    font-size: 22px;
    border: 0.1px solid grey;
    box-shadow: 1px 3px 3px 3px rgba(138, 126, 126, 0.55);

    h1 {
        color: $color-h1;
        font-size: 50px;
        margin-bottom: 30px;
        text-align: left;
    }

    .table-races {
        background-color: $color-bg-table;
        border-radius: 10px;
        padding: 25px;
        font-size: 22px;


    }
}


// ===============> TEAMS <============

.container-teams {
    display: block;
    background-color: $color-bg-table;
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
    font-size: 22px;
    border: 0.1px solid grey;
    box-shadow: 1px 3px 3px 3px rgba(138, 126, 126, 0.55);

    h1 {
        color: $color-h1;
        font-size: 50px;
        margin-bottom: 30px;
        text-align: left;
    }

    .table-teams {
        background-color: $color-bg-table;
        border-radius: 10px;
        padding: 25px;
        font-size: 22px;
    }

    a {
        text-decoration: none;
        color: $color-text;
    }
}

// radis RACES DETAILS

// =============> RACES DETAILS <===============
.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $color-bg-table;
    color: $color-text;
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
    font-size: 22px;
    border: 0.1px solid grey;
    box-shadow: 1px 3px 3px 3px rgba(138, 126, 126, 0.55);
    overflow: hidden;

    h1 {
        color: $color-h1;
        font-size: 30px;
        margin-bottom: 30px;
        text-align: left;
    }

    .tables-container {
        display: flex;

    }

    // .grand-prix { }

    .qualifying-results {
        background-color: $color-bg-table;
        border-radius: 10px;
        padding: 25px;
        font-size: 22px;

    }

    .race-results {
        background-color: $color-bg-table;
        border-radius: 10px;
        padding: 25px;
        font-size: 22px;

        .points-color {
            color: black;
            overflow: hidden;
        }
    }
}

// Odavde fanuchi
// TEAM DETAILS TABELA DONJA fanuchi



.results-table tbody td {
    padding: 12px 16px;
    color: $color-text;
}

.results-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.results-table th:nth-child(2),
.results-table td:nth-child(2) {
    text-align: left;
    padding-left: 32px;
}

.col-round {
    width: 8%;
}

.col-grand-prix {
    width: 34%;
}

.col-driver {
    width: 18%;
}

.col-points {
    width: 10%;
}

.grand-prix-cell {
    display: flex;
    align-items: center;
    gap: 10px;
}

.position-cell {
    text-align: center;
}

.position-badge {
    display: inline-block;
    min-width: 80px;
    padding: 8px 0;
    border-radius: 7px;
    text-align: center;
    color: #071016;
    font-weight: 700;
}

// .pos-1 {
//     background-color: $pos-driver1;
//     color: #1b1b1b;
// }

// .pos-2 {
//     background-color: $pos-driver3;
//     color: #1b1b1b;
// }

// .pos-3 {
//     background-color: $pos-driver4;
//     color: #1b1b1b;
// }

// .pos-4,
// .pos-5,
// .pos-6,
// .pos-7,
// .pos-8,
// .pos-9,
// .pos-10 {
//     background-color: $pos-driver2;
//     color: #1b1b1b;
// }

// .pos-other {
//     background-color: $pos-driver-other;
//     color: #1b1b1b;
// }

// .pos-default {
//     background-color: $pos-driver-other;
//     color: #1b1b1b;
// }

// TEAM DETAILS KARTICA GORNJA fanuchi

.team-details-page {
    flex: 1;
    width: auto;
    min-width: 0;
    min-height: 100vh;
    padding: 24px 24px 24px 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 28px;
    box-sizing: border-box;
}

.team-card {
    width: 320px;
    min-width: 320px;
    min-height: calc(100vh - 48px);
    background-color: $color-bg-table;
    border-radius: 24px;
    padding: 28px;
    padding-left: 12px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.45);
    border: 1px solid $line-border;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.team-card-header {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 32px;
}

.team-logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
    padding: 18px;
}

.team-title-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.team-name-with-flag {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    color: $color-text;
    font-size: 18px;
}

.flag-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    white-space: nowrap;
}

.flag-text span {
    white-space: nowrap;
}


.team-title {
    margin: 0;
    color: $color-h1;
    font-size: 26px;
    line-height: 1.1;
}

.team-info {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;
}

.team-info-row {
    display: flex;
    gap: 10px;
    margin: 0;
    font-size: 20px;

    strong {
        color: $color-text;
    }

    span {
        color: white;
    }
}

.team-stats {
    display: flex;
    gap: 18px;
}

.team-stat {
    flex: 1;
    margin: 0;
    padding: 20px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid $line-border;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.team-stat-label {
    font-size: 16px;
    color: $color-text;
}

.team-stat-value {
    font-size: 34px;
    font-weight: 700;
    color: white;
}

.team-history-link,
.team-country-pill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 90%;
    margin: 0 auto;
    padding: 12px 24px;

    border-radius: 999px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid $line-border;
    transition: 0.3s;
}

.team-country-pill {
    background-color: rgba(255, 255, 255, 0.08);

    strong {
        color: white;
    }
}

.team-country-name {
    color: $color-text;
}

.team-history-link {
    margin-top: 28px;
    background-color: $color-h1;

    &:hover {
        background-color: $a-hover;
        transform: translateY(-2px);
    }
}

.team-results-section {
    flex: 1;
    min-width: 0;
    padding-top: 8px;
    overflow: hidden;
}

.team-results-title {
    color: $color-text;
    font-size: 34px;
    text-align: center;
    margin: 0 0 24px 0;
}

.results-table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.results-table {
    width: 100%;
    table-layout: fixed;
}


// Breadcrumbs za sve fanuchi

.breadcrumbs-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 12px 18px;
    background-color: $color-bg-table;
    border: 1px solid $line-border;
    border-radius: 18px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.breadcrumb-item {
    display: flex;
    align-items: center;

    a,
    span {
        min-height: 34px;
        padding: 7px 14px;
        border-radius: 12px;
        background-color: $color-nav;
        color: $color-text;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        transition: all 0.3s ease;
        font-size: 16px;
        line-height: 1;
    }

    a:hover {
        background-color: #111a22;
        color: white;
        transform: translateY(-2px);
    }
}

.breadcrumbs .breadcrumb-item:last-child>span {
    background-color: $color-h1;
    color: white;
}