// @import "variable.scss";

body {
    background-color: black;
    color: white;
}

.navigations {

    font-size: 22px;


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: rgb(87, 90, 89);
        ;
        width: 250px;
        height: 250px;
    }

    li {
        display: block;
        text-decoration: none;
        padding: 12px;
        text-align: center;
    }

    .just-li {
        a {
            text-decoration: none;
            color: white;

            &:hover {
                background-color: rgb(87, 90, 89);
                color: black;
                padding: 12px 80px;
            }
        }
    }
}

.container-drivers {
    h1 {
        color: white;
        font-size: 50px;
        // font-weight: ;
    }

    .table-drivers {
        table {
            background-color: rgb(87, 90, 89);
        }

    }
}