/* table {
  border: 1px solid grey;
  border-radius: 5px;
}

/* ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: grey;
  width: 250px;
  color: #fff; */


table {
  border: 1px solid grey;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: grey;
  width: 250px;
  color: #fff;
}