//name color - glavne boje
$color-body: #000409;
$color-nav: #070d12;
$color-bg-table: #10171d;
$a-hover: #65080c;
$color-text: #b1b1b3;
$color-hover-table: rgb(111, 50, 217);
$table-bg-h-color: rgb(104, 42, 42);
$color-h1: #91161c;
$line-border: rgba(255, 255, 255, 0.05);

//table - pos (prva kolona)
$table-pos1: #f5c517;
$table-pos2: #adb0b4;
$table-pos3: #f29426;
$table-pos4: #7fc14d;
$table-pos5: #49aaf6;
$table-pos6: #19a8b0;
$table-pos7: #9b5de5;
$table-pos8: #f15bb5;
$table-pos9: #ef476f;
$table-pos10: #3a0ca3;


//teamDetails - table - color (3. i 4. red)
$pos-driver1: #f2c319;
$pos-driver2: #88be6a;
$pos-driver3: #9a9999;
$pos-driver4: #e98b1a;
$pos-driver5: #6697ec;
$pos-driver6: #10a9b4;
$pos-driver7: #9b5de5;
$pos-driver8: #ef476f;
$table-driver9: #ef476f;
$table-driver10: #3a0ca3;
$pos-driver-other: #66696d;